@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

mat-toolbar{
  width: 100;
  background: #941153;
}

#logo-img-id{
  height: 3rem;
  width: 3rem;
  margin-top: -2rem;

}
#logo-img-id{
  margin-left: 10px;
}
.icon {
  height: 10px;
  width: 10px;
}

.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}


@media screen and (max-width: 320px) {

  #logo-img-id{
    margin-top: -2.5rem;
  }

}

.proflo-verify{
    display: flex;
}

.mat-card{
    display: flex;
    flex-direction: row;
}

.mat-card {
  width: 50%;
  }

  @media(min-width: 768px) {
    #bars {
      flex-direction: column;
    }

  }
  @media screen and (max-width: 321px) {
    #title-id{
      font-size: 8px;
    }
    .mat-form-field{
      max-width:30%;
    }

  }
.mat-card-content{
    margin-left:40px;
    align-content: center;
    /* width: 250px; */

}
mat-form-field {
  width: 320px;
}
.verify-form{
    flex: 1;
    align-items: center;
    padding-left: 20px;
}

.verify-img{
    flex: 1;
}



  #logo-img-id{
    height: 3rem;
    width: 3rem;
    margin-top: -1rem;

  }

  .app-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  }

  .title-center {
    margin: 0 auto;
    color:white;
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    padding: 4px;
    font-family: 'Satisfy', cursive;  
  }

  .footer {
    /* position: fixed; */

    bottom: 0;
    width: 100%;
    height: 60px;
   background-color: #941153;
    color: white;
    text-align: center;
    margin: 0px;
  }


  footer{
    background-color : #941153;
    color: aliceblue;
    }

  .footer {

    /* //position: fixed; */
    width: 100%;
    clear: both;
    background-color: #941153;
    height: 100px;
    margin-top: -100px;

  }

  .copy {

    float: left;
    color: white;
    text-align: right;
  }

  /*
  // mat-toolbar-row.mat-toolbar-row {
  //     background-color: blue;
  // } */

  .secondnav
  {   color: white;
   
   height: 2px;
   bottom: 0;
  /* // position: fixed; */
  }
  
  .three{
    background-color: #5c94bd;
  }

  .youtube {
    margin-top: 30px;
  }

.space {
  margin-bottom: 30px !important;
}
